.home {
	/* padding: 20px; */
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

.center {
	text-align: center;
}

.header {
	background: 
	  linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ),
	  url(../../assets/img/landing.jpg);
	background-size: cover;
	height: 95vh;
  }
  
  .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
  }
  h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 3rem;
	white-space: nowrap;
  }
  h2 {
	font-size: 2rem;
  }
  p {
	margin: 0;
	font-size: 1.3rem;
  }
  
  main {
	max-width: 500px;
	margin: 20px auto;
  }